<ion-header>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-toast trigger="close-toast" message="Sesión cerrada" [duration]="3000"></ion-toast>
  <h1>Consejos para el Cuidado de Plantas con Sensor de Humedad</h1>

  <h2>Utilizando el Sensor de Humedad</h2>
  <p>
    El sensor de humedad es una herramienta valiosa para cuidar tus plantas. Asegúrate de colocar el sensor en el suelo
    cerca de las raíces de la planta. Monitorea regularmente los valores de humedad para saber cuándo es el momento
    adecuado para regar. Recuerda que diferentes tipos de plantas tienen diferentes necesidades de humedad.
  </p>
  <img src="https://tienda.bricogeek.com/2179-thickbox_default/sensor-de-humedad-del-suelo.jpg" alt="planta con sensor">

  <h2>Diferencia de Riego entre Plantas</h2>
  <p>
    Es esencial entender que las plantas tienen diferentes requerimientos de agua. Algunas plantas, como los cactus y
    suculentas, prefieren suelos secos y requieren menos riego. Otras plantas, como los helechos, necesitan un suelo más
    húmedo. Investiga las necesidades de cada planta en tu colección y ajusta la frecuencia y cantidad de riego en
    consecuencia.
  </p>

  <h2>Observa y Aprende</h2>
  <p>
    Observa el estado de tus plantas regularmente. Si notas hojas marchitas o amarillentas, puede ser un signo de
    exceso o falta de agua. Utiliza el sensor de humedad para obtener una lectura precisa del nivel de humedad en el suelo
    y ajústate según sea necesario. Con el tiempo, desarrollarás una comprensión más profunda de las necesidades
    individuales de tus plantas.
  </p>

  <h2>Considera el Medio Ambiente</h2>
  <p>
    El entorno en el que colocas tus plantas también afecta su necesidad de agua. Si las plantas están en un lugar con
    alta humedad, es posible que necesiten menos riego. Por otro lado, en ambientes más secos, las plantas podrían requerir
    un riego más frecuente. Mantén un equilibrio y ajusta según las condiciones de tu entorno.
  </p>
  <img src="https://thumbs.dreamstime.com/b/%C3%ADcone-da-temperatura-das-plantas-cor-simples-com-elementos-de-vetor-contorno-%C3%ADcones-agricultura-automatizados-para-o-site-ui-e-189609786.jpg" alt="planta alta temperatura">
</ion-content>

<ion-item>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/plantas">
        <ion-icon name="leaf"></ion-icon>
        Plantas
      </ion-tab-button>
      <ion-tab-button routerLink="/enciclopedia">
      <ion-icon name="information-circle"></ion-icon>
        Consejos
      </ion-tab-button>
      <ion-tab-button (click)="logout()" color="tertiary" id="close-toast">
        <ion-icon name="log-out"></ion-icon>
        Salir
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-item>
