<ion-header>
  
</ion-header>

<h2>
  Iniciar sesión
</h2>  
  
  <ion-content>
    <ion-list>
      <ion-item>
        <label>Nombre de usuario
        <input type="text" [(ngModel)]="username">
        </label>
      </ion-item>
  
      <ion-item>
        <label>Contraseña <input type="password" [(ngModel)]="password">
        </label>
      </ion-item>
    </ion-list>
  
    <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
    <hr>
    <h2>¿No tienes una cuenta? Registrate ahora.</h2>
    <ion-button routerLink="/sign-in">Registro</ion-button>
  </ion-content>
  