ion-content{
    --ion-background-color:#E1EAF9 !important;
}


ion-toolbar{
    --ion-background-color:transparent;
    --opacity:0;
}
.signin-button{
    margin-top: 35px;
    text-align: center;
}

.login-button{
    margin-top: 35px;
    --ion-color-primary:#2134b7;
    text-align: center;
}
.text-tag{
    margin-top: 55px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        color:mediumslateblue;
    }
}
.social-buttons{
    text-align: center;
    ion-button{
        width: 40px;
        padding-left: 5px !important;
    }
}
ion-list{
    display: flex;
    align-content: center;
    padding-left: 50%;
    padding-right: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
  }
ion-header{
    color: transparent;
}
