.logoutB{
    width: 100px;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    position: relative;
    align-items: baseline;
    margin-left: 71.5%;
    margin-top:16px;
}