<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de plantas
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-button expand="full" (click)="openAddModal()">
  <ion-icon name="add"></ion-icon> Añadir
</ion-button> -->

<ion-button id="open-modal" expand="block">Agregar planta</ion-button>




<ion-content>
  <ion-list *ngIf="plantas.length > 0">
    <ion-card *ngFor="let planta of plantas">
      <ion-card-header>
        <ion-card-title>{{ planta.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="planta.imagen" alt="Imagen de planta">
        <p>Humedad: {{ planta.humedad }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div *ngIf="plantas.length === 0">
    No hay plantas disponibles.
  </div>
</ion-content>



<ion-item>



  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/plantas">
        <ion-icon name="leaf"></ion-icon>
        Plantas
      </ion-tab-button>
      <ion-tab-button routerLink="/enciclopedia">
        <ion-icon name="book"></ion-icon>
        Enciclopedia
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="settings"></ion-icon>
        Ajustes
      </ion-tab-button>
      <ion-tab-button (click)="logout()" color="tertiary" id="close-toast">
        <ion-icon name="log-out"></ion-icon>
        <ion-toast trigger="close-toast" message="Sesión cerrada" [duration]="3000"></ion-toast>
        Salir
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-item>


<ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Agregar planta
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="nuevaPlanta.imagen" placeholder="Imagen" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="nuevaPlanta.titulo" placeholder="Título" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="nuevaPlanta.humedad" placeholder="Humedad" type="number"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button color="light" id="success-toast" (click)="agregarPlanta()" routerLink="/plantas">Agregar
        <ion-toast trigger="success-toast" message="Planta agregada" [duration]="3000"></ion-toast>

      </ion-button>
      <!-- <ion-nav [root]="component"></ion-nav> -->

      
    </div>
  </ng-template>
</ion-modal>

<!-- <ion-modal id=IonModal (ionModalDidDismiss)="closeAddModal()">
  <ion-header>
    <ion-title>Agregar Elemento</ion-title>
  </ion-header>
  <ion-content>
    Aquí va el formulario
    <h1>sd</h1>
  </ion-content>
</ion-modal> -->

 <!-- <ion-tab-button tab="plantas" routerLink="plantas">
  <ion-icon name="leaf"></ion-icon>
  Plantas
</ion-tab-button> -->