<ion-header>  
  <ion-toolbar>
    <ion-title>
      Lista de plantas
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-fab slot="fixed" vertical="top" description="danger" id="open-modal" expand="block" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Welcome</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Enter your name</ion-label>
            <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-fab-button>
  
  </ion-fab>

  <ion-button id="open-modal" expand="block">Open</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>  
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal> -->

<ion-content>
  <ion-list *ngIf="plantas.length > 0">
    <ion-card *ngFor="let planta of plantas">
      <ion-card-header>
        <ion-card-title>{{ planta.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="planta.imagen" alt="Imagen de planta">
        <p>Humedad: {{ planta.humedad }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div *ngIf="plantas.length === 0">
    No hay plantas disponibles.
  </div>
</ion-content>


 
<ion-item>

  

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  routerLink="/plantas">
      <ion-icon name="leaf"></ion-icon>
      Plantas
    </ion-tab-button>
    <ion-tab-button routerLink="/enciclopedia">
      <ion-icon name="book"></ion-icon>
      Enciclopedia
    </ion-tab-button>
    <ion-tab-button >
      <ion-icon name="settings"></ion-icon>
      Ajustes
    </ion-tab-button>
    <ion-tab-button (click)="logout()" color="tertiary" id="close-toast">
      <ion-icon name="log-out"></ion-icon>
      <ion-toast trigger="close-toast" message="Sesión cerrada" [duration]="3000"></ion-toast>
      Salir
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-item>





<!-- <ion-tab-button tab="plantas" routerLink="plantas">
  <ion-icon name="leaf"></ion-icon>
  Plantas
</ion-tab-button> -->